# Logs
logs
!adapters/logs
*.log

# Runtime data
pids
*.pid
*.seed

.grunt

node_modules

# Conf files
*.json
!conf/service.json
!conf/user.json

# Documents
documents/*

# Blob
blobs/*
!blobs/.gitkeep
