# Logs
logs
!adapters/logs
*.log

# Runtime data
pids
*.pid
*.seed

.grunt

node_modules

# Conf files
*.json
!conf/service.json
!conf/user.json
conf/certs/*.crt
conf/certs/*.key
conf/certs/*.pem


# Documents
documents/*

# Blob
blobs/*
!blobs/.gitkeep
